<br>
<% if flash[:message]%>
<h3 style = "color:red"><%=flash[:message]%></h3>
<%end%>


<%=form_for @student do |f| %>
    Name: <%= f.text_field :name %><br />
     Mod:<%= f.number_field :mod %><br />
     <%= f.submit "Edit Student"%>
   <%end%>