<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<h1>Duck Create Form</h1>

<%= form_for @duck do |f|%>
<label>Name:</label><br>
<%= f.text_field :name %><br>

<label>Description:</label><br>
<%= f.text_area :description %><br>

<label>Student:</label><br>
<%= f.collection_select :student_id, Student.all, :id, :name%><br>

<%= f.submit %>
<% end %>