<% if flash.now[:message]%>
<%= @duck.errors.full_messages[0] %>
<% end %>

<h1>Create a Duck</h1>
<%= form_for @duck do |f| %>
<%= f.text_field :name %>
<%= f.text_field :description %>
<%= f.collection_select(:student_id, Student.all, :id, :name) %>
<%= f.submit %>
<% end %>